# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

.vs/
Debug/
Release/
x64/
client/Debug/
client/Release/
client/x64/
server/Debug/
server/Release/
server/x64/
vpn_uv.VC.db
vpn_uv.VC.VC.opendb
